h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #3a3a3a;
  margin: 100px auto 63px;
}

.about {
  display: flex;
  flex-direction: column;
}

.image-item {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.image-item img {
  margin: 0 auto 18px;
}
.image-item h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  margin: 17px auto 1px auto;
}
.image-item p {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0 70px;
  margin: 0 0 113px 0;
  line-height: 24px;
}

.imageInAbout {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1170px;
  margin: auto;
}

.compatibility {
  height: 444px;
  background-color: #e7e7e7;
  display: flex;
}

.compatibility_body {
  margin: 67px auto;
  width: 970px;
}
.compatibility_body .compatibility_title {
  border-bottom: 2px solid #cbcbcb;
}
.compatibility_body .compatibility_title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #666666;
}
.compatibility_body .compatibility__items {
  display: flex;
}
.compatibility_body .compatibility__items .compatibility_left h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  margin: 32px 0 2px 0;
}
.compatibility_body .compatibility__items .compatibility_left p {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  margin: 0 0 26px 0;
}
.compatibility_body .compatibility__items .compatibility_right {
  padding-left: 11px;
}
.compatibility_body .compatibility__items .compatibility_right h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  margin: 32px 0 2px 0;
}
.compatibility_body .compatibility__items .compatibility_right p {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  margin: 0 0 33px 0;
}

.features {
  height: 803px;
  background-color: #313131;
  display: flex;
}
.features .row {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: auto;
}
.features .row .features_right {
  padding: 0 0 0 102px;
}
.features .row .features_right .share_title2 {
  width: 521px;
}
.features .row .features_right .share_title2 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin: 166px 0 24px 0;
}
.features .row .features_right .share_title2 p {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #aeaeae;
  padding-right: 55px;
  margin-bottom: 65px;
}
.features .row .features_left {
  padding: 77px 0 0 28px;
}

/*slider*/
.slider33 {
  width: 469px;
  margin-top: 39px;
  background-color: white;
  height: 232px;
  border-radius: 4px;
}

.slider__item_3 {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 2px;
  width: 470px;
}
.slider__item_3 img {
  padding: 41px 0 29px 11px;
}
.slider__item_3 h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #cc5858;
  margin: 30px 0 9px 28px;
}
.slider__item_3 p {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #aeaeae;
  padding: 0 34px 0 30px;
  margin: 0;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider33 .slick-dots {
  display: flex;
  padding-left: 31px;
  height: 35px;
  margin-top: 28px;
  background-color: #f06464;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 8px;
}

.slider33 .slick-dots li {
  list-style: none;
  margin: 0 4px;
}

.slider33 .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 0;
}

.slider33 .slick-dots li.slick-active button {
  background-color: #ffffff;
  border: 2px solid #fff;
}

/*slider end*/
footer {
  height: 225px;
  background-color: #f4f4f4;
}

header {
  background: url("../image/background_425.png");
  background-size: cover;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
header .menu {
  display: flex;
  margin: 27px auto 108px;
  justify-content: space-between;
  width: 1170px;
}
header .menu .logo {
  display: flex;
  margin: -7px 0 0 0;
}
header .menu .logo img {
  margin: auto;
  margin-left: 0;
  margin-top: -4 px;
}
header .menu nav {
  margin: 0 0 0 102px;
  width: 815px;
}
header .menu nav ul {
  display: flex;
  padding: 0 32px;
  margin-top: 15px;
}
header .menu nav ul li {
  margin: 0 21px;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  list-style-type: none;
}
header .menu nav ul li a {
  text-decoration: none;
  color: white;
}
header .menu nav ul li:hover::before {
  display: block;
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 60px;
  top: 0;
}

.header__burger {
  display: none;
}

/*slider*/
.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 76px auto 54px auto;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 4px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 0;
}

.slider .slick-dots li.slick-active button {
  background-color: #ffffff;
  border: 1px solid #fff;
}

.slider__item {
  display: flex;
  flex-direction: column;
  /*buttons*/
}
.slider__item h1 {
  font-family: Montserrat, sans-serif;
  line-height: 1.2;
  color: #ffffff;
  margin: 106px auto 73px;
  font-size: 90px;
  font-weight: 600;
}
.slider__item .button_download {
  margin: 0 auto 90px;
  gap: 30px;
  display: flex;
}
.slider__item .button_download .download2 {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  padding: 10px 0 10px 5px;
  width: 255px;
  margin: auto;
  border-radius: 4px;
}
.slider__item .button_download .download2 a {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  padding-top: 2px;
}
.slider__item .button_download .download2 a img {
  margin: auto;
}
.slider__item .button_download .download2 a span {
  margin: 3px auto auto 1px;
}
.slider__item .button_download .download1 {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  padding: 18px 0 7px 5px;
  width: 255px;
  margin: auto;
  border-radius: 4px;
}
.slider__item .button_download .download1 a {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  padding-top: 2px;
}
.slider__item .button_download .download1 a img {
  margin: -10px 12px 0px 12px;
}
.slider__item .button_download .download1 a span {
  margin: -3px auto auto 3px;
}
.slider__item .button_download .btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/*buttons end*/
/*slider end*/
.gallery {
  background-color: white;
  height: 822px;
  position: relative;
  z-index: 500;
}
.gallery__item {
  display: flex;
  flex-direction: column;
}
.gallery__item_title {
  margin: 0 auto 58px;
  width: 994px;
  padding-top: 28px;
}
.gallery__item_title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #f06464;
  padding-left: 9px;
  margin: 40px 0 20px 0;
}
.gallery__item_title p {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #666666;
  padding: 0 512px 0 13px;
}
.gallery__item_photo {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.gallery__item_photo .photo_item1 {
  background-color: #151515;
  width: 464px;
  height: 519px;
}
.gallery__item_photo .photo_item1 img {
  width: 464px;
  height: 519px;
}
.gallery__item_photo .photo_item2 {
  background-color: #151515;
  width: 519px;
  height: 519px;
}
.gallery__item_photo .photo_item2 img {
  height: 519px;
  width: 519px;
}
.gallery__item_photo .photo_item3 {
  background-color: #151515;
  width: 519px;
  height: 519px;
}
.gallery__item_photo .photo_item3 img {
  height: 519px;
  width: 519px;
}
.gallery__item_photo .photo_item4 {
  background-color: #151515;
  width: 498px;
  height: 519px;
}
.gallery__item_photo .photo_item4 img {
  height: 519px;
  width: 498px;
}
.gallery__item_photo .photo_block_down {
  position: relative;
  bottom: 110px;
  display: none;
}
.gallery__item_photo .photo_block_down p {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #c2c2c2;
}
.gallery__item_photo .photo_item1:hover img {
  position: relative;
  height: 519px;
  bottom: 38px;
}
.gallery__item_photo .photo_item1:hover .photo_block_down {
  position: relative;
  bottom: 92px;
  height: 88px;
  background-color: #151515;
  width: 100%;
  display: flex;
}
.gallery__item_photo .photo_item1:hover .photo_block_down p {
  margin: 29px 37px;
}
.gallery__item_photo .photo_item1:hover .photo_block_down i {
  margin: auto 68px auto auto;
}
.gallery__item_photo .photo_item2:hover img {
  position: relative;
  height: 519px;
  width: 519px;
  bottom: 38px;
}
.gallery__item_photo .photo_item2:hover .photo_block_down {
  position: relative;
  bottom: 92px;
  height: 88px;
  background-color: #151515;
  width: 100%;
  display: flex;
}
.gallery__item_photo .photo_item2:hover .photo_block_down p {
  margin: 29px 37px;
}
.gallery__item_photo .photo_item2:hover .photo_block_down i {
  margin: auto 68px auto auto;
}
.gallery__item_photo .photo_item3:hover img {
  position: relative;
  height: 519px;
  width: 519px;
  bottom: 38px;
}
.gallery__item_photo .photo_item3:hover .photo_block_down {
  position: relative;
  bottom: 92px;
  height: 88px;
  background-color: #151515;
  width: 100%;
  display: flex;
}
.gallery__item_photo .photo_item3:hover .photo_block_down p {
  margin: 29px 37px;
}
.gallery__item_photo .photo_item3:hover .photo_block_down i {
  margin: auto 68px auto auto;
}
.gallery__item_photo .photo_item4:hover img {
  position: relative;
  height: 519px;
  width: 498px;
  bottom: 38px;
}
.gallery__item_photo .photo_item4:hover .photo_block_down {
  position: relative;
  bottom: 92px;
  height: 88px;
  background-color: #151515;
  width: 100%;
  display: flex;
}
.gallery__item_photo .photo_item4:hover .photo_block_down p {
  margin: 29px 37px;
}
.gallery__item_photo .photo_item4:hover .photo_block_down i {
  margin: auto 68px auto auto;
}

.gallery__item_photo {
  display: flex;
  flex-direction: row;
}

/*for like*/
.fa {
  color: #f06464;
}

.anotherColor {
  color: red;
}

/*for like end*/
.share {
  background-color: #262626;
  height: 734px;
  display: flex;
}
.share .row {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: auto;
}
.share .row .share_title {
  width: 450px;
}
.share .row .share_title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin: 183px 0 20px 0;
  padding-left: 7px;
}
.share .row .share_title p {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #aeaeae;
  padding: 0 11px 22px 7px;
  margin-bottom: 9px;
}

.share_right {
  padding-left: 98px;
}

.share_left {
  display: flex;
}
.share_left img {
  margin-top: 72px;
  margin-left: 8px;
}

/*slider*/
.slider22 {
  width: 451px;
}

.slider__item_2 {
  display: flex;
  flex-direction: row;
}
.slider__item_2 img {
  margin: 20px auto auto 10px;
}
.slider__item_2 p {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #aeaeae;
  padding: 0 8px 0 30px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider22 .slick-dots {
  display: flex;
  padding-left: 9px;
  margin-top: 22px;
}

.slider22 .slick-dots li {
  list-style: none;
  margin: 0 8px 0 0;
}

.slider22 .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 0;
}

.slider22 .slick-dots li.slick-active button {
  background-color: #ffffff;
  border: 2px solid #fff;
}

/*slider end*/
.store {
  height: 723px;
  background-color: #de5d5d;
}
.store .row {
  width: 1170px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.store .row .store_right {
  margin: 128px auto 0 56px;
}
.store .row .store_right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin: 40px 0 17px 0;
}
.store .row .store_right h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 44px;
}
.store .row .store_left {
  margin: 224px 0 0 97px;
}
.store .row .store_left .storeBigA {
  position: relative;
  z-index: 20;
}
.store .row .store_left .shadow {
  margin-top: -246px;
  margin-left: 17px;
}

/*buttons*/
.button_download {
  margin: 0 auto 90px;
  gap: 30px;
  display: flex;
}
.button_download .download2 {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  padding: 10px 0 10px 5px;
  width: 255px;
  margin: auto;
  border-radius: 4px;
}
.button_download .download2 a {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  padding-top: 2px;
}
.button_download .download2 a img {
  margin: auto;
}
.button_download .download2 a span {
  margin: 3px auto auto 1px;
}
.button_download .download1 {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  padding: 18px 0 7px 5px;
  width: 255px;
  margin: auto;
  border-radius: 4px;
}
.button_download .download1 a {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  padding-top: 2px;
}
.button_download .download1 a img {
  margin: -10px 12px 0px 12px;
}
.button_download .download1 a span {
  margin: -3px auto auto 3px;
}
.button_download .btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/*buttons end*/
@media (max-width: 1200px) {
  header .menu {
    width: auto;
  }
}
@media (max-width: 1171px) {
  .imageInAbout {
    width: 100%;
  }

  .store .row {
    width: 100%;
  }
}
@media (max-width: 1120px) {
  .store {
    height: auto;
  }
  .store .row .store_right {
    margin: auto;
  }
  .store .row .store_left {
    margin: auto;
  }
}
@media (max-width: 1140px) {
  header .menu {
    display: flex;
    justify-content: space-between;
    margin: 18px 5px;
  }
  header .menu nav {
    width: 100%;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 35px;
    z-index: 5;
    border-radius: 5px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    left: 8px;
    width: 24px;
    height: 2px;
  }
  .header__burger::before {
    top: 10px;
  }
  .header__burger::after {
    bottom: 9px;
  }
  .header__burger span {
    position: absolute;
    top: 17px;
    left: 8px;
    width: 24px;
    height: 2px;
    background-color: white;
  }

  nav {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 260px;
    z-index: 3;
    padding: 10px 0 0 0;
    background-color: #de5d5d;
    transition: all 0.3s ease 0s;
    box-shadow: 0 4px 20px silver;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  nav ul li {
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    font-size: 18px;
    margin: 5px auto;
  }

  nav.active {
    top: 0;
  }
}
@media (max-width: 900px) {
  .slider__item {
    display: flex;
    flex-direction: column;
  }
  .slider__item h1 {
    font-family: Montserrat, sans-serif;
    line-height: 1.2;
    color: #ffffff;
    margin: 106px auto 41px;
    font-size: 60px;
    font-weight: 600;
  }

  .imageInAbout {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }

  .image-item {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  .image-item img {
    width: 200px;
    margin: auto;
  }
  .image-item p {
    font-family: "Varela Round", sans-serif;
    padding: 0 208px;
  }

  .store .row {
    flex-direction: column;
  }
  .store .row .store_right {
    margin: auto;
  }
  .store .row .store_right h1 {
    text-align: center;
  }
  .store .row .store_right h3 {
    text-align: center;
  }
  .store .row .store_left {
    margin: 30px auto 0;
  }
}
@media (max-width: 612px) {
  .slider__item h1 {
    margin: 30px auto;
    text-align: center;
  }
  .slider__item .button_download {
    margin: 0 auto 0;
    gap: 10px;
    display: flex;
  }
  .slider__item .button_download .download2 {
    padding: 5px 0 5px 2px;
    width: 155px;
  }
  .slider__item .button_download .download2 a {
    font-size: 15px;
  }
  .slider__item .button_download .download2 a img {
    margin: auto;
    width: 20px;
  }
  .slider__item .button_download .download2 a span {
    margin: 1px auto auto 3px;
  }
  .slider__item .button_download .download1 {
    padding: 5px 0 7px 2px;
    width: 155px;
  }
  .slider__item .button_download .download1 a {
    font-size: 15px;
  }
  .slider__item .button_download .download1 a img {
    margin: auto;
    width: 20px;
  }
  .slider__item .button_download .download1 a span {
    margin: 1px auto auto 3px;
  }

  .slider {
    height: auto;
  }

  .slider .slick-dots {
    margin: 0 auto 25px auto;
  }

  .slider .slick-dots button {
    width: 8px;
    height: 8px;
  }

  .button_download {
    margin: 0 auto 0;
    gap: 10px;
    display: flex;
  }
  .button_download .download2 {
    padding: 5px 0 5px 2px;
    width: 155px;
  }
  .button_download .download2 a {
    font-size: 15px;
  }
  .button_download .download2 a img {
    margin: auto;
    width: 20px;
  }
  .button_download .download2 a span {
    margin: 1px auto auto 3px;
  }
  .button_download .download1 {
    padding: 5px 0 7px 2px;
    width: 155px;
  }
  .button_download .download1 a {
    font-size: 15px;
  }
  .button_download .download1 a img {
    margin: auto;
    width: 20px;
  }
  .button_download .download1 a span {
    margin: 1px auto auto 3px;
  }

  .store .row .store_left .shadow {
    display: none;
  }
}
@media (max-width: 706px) {
  .imageInAbout {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }

  .image-item {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  .image-item img {
    width: 133px;
    margin: auto;
  }
  .image-item h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    margin: 17px auto -2px auto;
  }
  .image-item p {
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 0 100px;
    letter-spacing: 0.1px;
    margin: 0;
  }
}
@media (max-width: 394px) {
  .image-item {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  .image-item img {
    width: 133px;
    margin: auto;
  }
  .image-item h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    margin: 17px auto -2px auto;
  }
  .image-item p {
    font-family: "Varela Round", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 0 70px;
    letter-spacing: 0.1px;
    margin: 0;
  }
}
@media (max-width: 560px) {
  .slider22 {
    width: 300px;
    margin: auto;
  }
  .slider22 .slider__item_2 img {
    margin: auto auto auto 14px;
    width: 100px;
  }
  .slider22 .slider__item_2 p {
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    color: #aeaeae;
    padding: 0 8px 0 10px;
  }
  .slider22 .slick-dots button {
    width: 8px;
    height: 8px;
  }

  .share {
    height: auto;
  }
  .share .row {
    flex-direction: column-reverse;
  }
  .share .row .share_left img {
    margin: auto;
    width: 300px;
  }
  .share .row .share_right {
    padding: 0;
    margin: 50px auto;
  }
  .share .row .share_right .share_title {
    width: 100%;
  }
  .share .row .share_right .share_title h2 {
    margin: 0 0 13px 0;
    text-align: center;
  }
  .share .row .share_right .share_title p {
    text-align: center;
  }

  .features .row .features_left img {
    width: 300px;
  }
}
@media (max-width: 470px) {
  .slider33 {
    width: 300px;
  }

  .slider__item_3 {
    display: flex;
    flex-direction: row;
    width: 470px;
    padding: 0;
    margin: auto;
  }
  .slider__item_3 img {
    display: none;
  }
  .slider__item_3 h4 {
    text-align: center;
    margin: 10px auto 10px;
  }
  .slider__item_3 p {
    text-align: center;
  }

  .slider33 .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
}
@media (max-width: 1140px) {
  .features .row .features_right {
    padding: 0 0 0 45px;
  }
  .features .row .features_right .share_title2 {
    width: 100%;
  }
  .features .row .features_right .share_title2 h2 {
    margin: 55px 0 24px 0;
  }
  .features .row .features_right .share_title2 p {
    padding: 10px;
  }
}
@media (max-width: 1045px) {
  .share {
    height: auto;
  }
  .share .row {
    flex-direction: column-reverse;
  }
  .share .row .share_left img {
    margin: auto;
  }
  .share .row .share_right {
    padding: 0;
    margin: 50px auto;
  }
  .share .row .share_right .share_title h2 {
    margin: 0 0 13px 0;
    text-align: center;
  }
  .share .row .share_right .share_title p {
    text-align: center;
  }

  .slider22 .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features {
    height: auto;
  }
  .features .row {
    flex-direction: column;
  }
  .features .row .features_right {
    margin: auto;
    padding-left: 0;
  }
  .features .row .features_right .share_title2 h2 {
    text-align: center;
  }
  .features .row .features_right .share_title2 p {
    text-align: center;
  }
  .features .row .features_left {
    margin: auto;
    padding-left: 0;
  }

  .slider33 {
    margin: auto;
  }
}
@media (max-width: 1999px) {
  .gallery .gallery__item .gallery__item_photo .photo_item {
    width: 100%;
  }
  .gallery .gallery__item .gallery__item_photo .photo_item img {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .gallery {
    height: auto;
  }
  .gallery .gallery__item .gallery__item_photo {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 760px) {
  .gallery {
    height: auto;
  }
  .gallery .gallery__item .gallery__item_photo {
    display: grid;
    grid-template-columns: auto;
  }
}
@media (max-width: 994px) {
  .gallery__item_title {
    margin: 0 auto 58px;
    width: 100%;
    padding-top: 28px;
  }
  .gallery__item_title h2 {
    text-align: center;
    padding: 0;
  }
  .gallery__item_title p {
    text-align: center;
    padding: 0 50px;
  }
}
@media (max-width: 347px) {
  .gallery .gallery__item .gallery__item_photo .photo_block_down p {
    margin: 29px 10px;
  }
  .gallery .gallery__item .gallery__item_photo .photo_block_down i {
    margin: auto;
  }
}
html,
body {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */
