h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #3a3a3a;
  margin: 100px auto 63px;
}

.about {
  display: flex;
  flex-direction: column;
}

.image-item {
  margin: auto;
  display: flex;
  flex-direction: column;

  img {
    margin: 0 auto 18px;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    margin: 17px auto 1px auto;
  }

  p {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0 70px;
    margin: 0 0 113px 0;
    line-height: 24px;
  }
}

.imageInAbout {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1170px;
  margin: auto;
}