h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  line-height: 1.2;
  font-weight: 600;
  color: #3a3a3a;
  margin: 60px auto 37px;
}

.about {
  display: flex;
  flex-direction: column;
}

.image-item {
  margin: auto;
  display: flex;
  flex-direction: column;

  img {
    width: 133px;
    margin: auto;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    margin: 17px auto -2px auto;
  }

  p {
    font-family: 'Varela Round', sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 0 35px;
    letter-spacing: 0.1px;
    margin: 0 0 70px 0;
  }
}

.imageInAbout {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 699px;
  margin: auto;
}