@import "variables";

h2 {
  font-family: $first;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: $grey;
  margin: 100px auto 63px;
  letter-spacing: -1px;
}

.about {
  display: flex;
  flex-direction: column;
}

.image-item {
  .photo1 {
    width: 229px;
    height: 229px;
    margin: -2px 0 0 57px;
  }

  .photo2 {
    width: 231px;
    height: 230px;
    margin: -1px 0 0 67px;
  }

  .photo3 {
    width: 229px;
    height: 229px;
    margin: -1px 0 0 76px;
  }

  .text_about1 {
    padding: 0 70px;
    margin: 37px 0 0 -32px;

    h3 {
      font-family: $first;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      color: $darkgrey;
      text-align: center;
      margin-bottom: 1px;
    }

    p {
      font-family: $second;
      font-size: 16px;
      text-align: center;
      line-height: 24px;
      color: $darkgrey;
    }
  }

  .text_about2 {
    padding: 0 53px;
    margin: 35px 0 0 5px;

    h3 {
      font-family: $first;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      color: $darkgrey;
      text-align: center;
      margin-bottom: 1px;
    }

    p {
      font-family: $second;
      font-size: 16px;
      text-align: center;
      line-height: 24px;
      color: $darkgrey;
    }
  }

  .text_about3 {
    padding: 0 43px;
    margin: 36px 0 114px 24px;

    h3 {
      font-family: $first;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      color: $darkgrey;
      text-align: center;
      margin-bottom: 1px;
    }

    p {
      font-family: $second;
      font-size: 16px;
      text-align: center;
      line-height: 24px;
      color: $darkgrey;
    }
  }
}

.imageInAbout {
  margin: auto;
  width: 1170px;
}