@import "variables";

.compatibility {
  height: 444px;
  background-color: $lightgrey3;
  display: flex;
}

.compatibility_body {
  margin: 67px auto;
  width: 970px;

  .compatibility_title {
    border-bottom: 2px solid $lightgrey;
    margin-bottom: -2px;

    h1 {
      font-family: $first;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 400;
      color: $darkgrey;
      margin-top: 20px;
      margin-bottom: 21px;
    }
  }

  .compatibility__items {
    display: flex;

    .compatibility_left {
      width: 46%;
      margin-right: 46px;

      h3 {
        font-family: $first;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: $darkgrey;
        margin: 32px 0 2px 0;
      }

      p {
        font-family: $second;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $darkgrey;
        margin: 0 0 27px 0;
      }
      img{
        padding-left: 1px;
      }
    }

    .compatibility_right {
      padding-left: 11px;

      h3 {
        font-family: $first;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: $darkgrey;
        margin: 32px 0 2px 0;
      }

      p {
        font-family: $second;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $darkgrey;
        margin: 0 0 34px 0;
      }
    }
  }
}

