.features {
  height: 803px;
  background-color: #313131;
  display: flex;

  .row {
    display: flex;
    flex-direction: row;
    width: 1170px;
    margin: auto;

    .features_right {
      padding: 0 0 0 102px;

      .share_title2 {
        width: 521px;

        h2 {
          font-family: 'Montserrat', sans-serif;
          font-size: 48px;
          line-height: 1.2;
          font-weight: 500;
          color: #ffffff;
          margin: 166px 0 24px 0;
        }

        p {
          font-family: 'Varela Round', sans-serif;
          font-size: 18px;
          line-height: 27px;
          font-weight: 400;
          color: #aeaeae;
          padding-right: 55px;
          margin-bottom: 65px;
        }
      }
    }

    .features_left {
      padding: 77px 0 0 28px;
    }
  }
}

/*slider*/
.slider33 {
  width: 469px;
  margin-top: 39px;
  background-color: white;
  height: 232px;
  border-radius: 4px;
}

.slider__item_3 {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 2px;
  width: 470px;

  img {
    padding: 41px 0 29px 11px;
  }

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #cc5858;
    margin: 30px 0 9px 28px;
  }

  p {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #aeaeae;
    padding: 0 34px 0 30px;
    margin: 0;
  }
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider33 .slick-dots {
  display: flex;
  padding-left: 31px;
  height: 35px;
  margin-top: 28px;
  background-color: #f06464;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 8px;
}

.slider33 .slick-dots li {
  list-style: none;
  margin: 0 4px;
}

.slider33 .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 0;
}

.slider33 .slick-dots li.slick-active button {
  background-color: #ffffff;
  border: 2px solid #fff;
}

/*slider end*/







