@media (max-width: 1200px) {
  header {
    .menu {
      width: auto;
    }
  }
}

@media (max-width: 1171px) {
  .imageInAbout {
    width: 100%;
  }
  .store {
    .row {
      width: 100%;

    }
  }
}

@media (max-width: 1120px) {
  .store {
    height: auto;

    .row {
      .store_right {
        margin: auto;
      }

      .store_left {
        margin: auto;
      }
    }
  }
}

@media (max-width: 1140px) {
  header {
    .menu {
      display: flex;
      justify-content: space-between;
      margin: 18px 5px;

      nav {
        width: 100%;
      }
    }
  }
  .header__burger {
    display: block;
    position: relative;
    width: 40+px;
    height: 40*0.875+px;
    z-index: 5;
    border-radius: 5px;

    &::before,
    &::after {
      content: '';
      background-color: white;
      position: absolute;
      left: 40*0.2+px;
      width: 40*0.6+px;
      height: 2px;
    }

    &::before {
      top: 10+px;
    }

    &::after {
      bottom: 9px;
    }

    span {
      position: absolute;
      top: 17px;
      left: 40*0.2+px;
      width: 40*0.6+px;
      height: 2px;
      background-color: white;
    }
  }
  nav {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 260px;
    z-index: 3;
    padding: 10px 0 0 0;
    background-color: #de5d5d;
    transition: all 0.3s ease 0s;
    box-shadow: 0 4px 20px silver;

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;

        a {
          font-size: 18px;
          margin: 5px auto;

        }
      }
    }
  }
  nav.active {
    top: 0;
  }
}

@media (max-width: 900px) {
  .slider__item {
    display: flex;
    flex-direction: column;

    h1 {
      font-family: Montserrat, sans-serif;
      line-height: 1.2;
      color: #ffffff;
      margin: 106px auto 41px;
      font-size: 60px;
      font-weight: 600;
    }
  }
  .imageInAbout {
    width: 100%;
  }
  .store {
    .row {
      flex-direction: column;

      .store_right {
        margin: auto;

        h1 {
          text-align: center;
        }

        h3 {
          text-align: center;
        }
      }

      .store_left {
        margin: 30px auto 0;
      }
    }
  }
}

@media (max-width: 612px) {
  .slider__item {
    h1 {
      margin: 30px auto;
      text-align: center;
    }

    .button_download {
      margin: 0 auto 0;
      gap: 10px;
      display: flex;

      .download2 {
        padding: 5px 0 5px 2px;
        width: 155px;

        a {
          font-size: 15px;

          img {
            margin: auto;
            width: 20px;
          }

          span {
            margin: 1px auto auto 3px;
          }
        }
      }

      .download1 {
        padding: 5px 0 7px 2px;
        width: 155px;

        a {
          font-size: 15px;

          img {
            margin: auto;
            width: 20px;
          }

          span {
            margin: 1px auto auto 3px;
          }
        }
      }
    }

  }
  .slider {
    height: auto;
  }
  .slider .slick-dots {
    margin: 0 auto 25px auto;
  }
  .slider .slick-dots button {
    width: 8px;
    height: 8px;
  }
  .button_download {
    margin: 0 auto 15px;
    gap: 10px;
    display: flex;

    .download2 {
      padding: 5px 0 5px 2px;
      width: 155px;

      a {
        font-size: 15px;

        img {
          margin: auto;
          width: 20px;
        }

        span {
          margin: 1px auto auto 3px;
        }
      }
    }

    .download1 {
      padding: 5px 0 7px 2px;
      width: 155px;

      a {
        font-size: 15px;

        img {
          margin: auto;
          width: 20px;
        }

        span {
          margin: 1px auto auto 3px;
        }
      }
    }
  }
  .store {
    .row {


      .store_left {

        .shadow1 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 706px) {
  .imageInAbout {
    width: 100%;
  }
}


@media (max-width: 560px) {
  .slider22 {
    width: 300px;
    margin: auto;

    .slider__item_2 {
      img {
        margin: auto auto auto 14px;
        width: 100px;
      }

      p {
        font-family: 'Varela Round', sans-serif;
        font-size: 11px;
        line-height: 15px;
        font-weight: 400;
        color: #aeaeae;
        padding: 0 8px 0 10px;
      }
    }

    .slick-dots button {
      width: 8px;
      height: 8px;
    }
  }
  .share {
    height: auto;

    .row {
      flex-direction: column-reverse;

      .share_left {
        img {
          margin: auto;
          width: 300px;
        }
      }

      .share_right {
        padding: 0;
        margin: 50px auto;

        .share_title {
          width: 100%;

          h2 {
            margin: 0 0 13px 0;
            text-align: center;

          }

          p {
            text-align: center;
          }
        }
      }
    }
  }
  .features {
    .row {
      .features_left {
        img {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .slider33 {
    width: 300px;
  }
  .slider__item_3 {
    display: flex;
    flex-direction: row;
    width: 470px;
    padding: 0;
    margin: auto;

    img {
      display: none;
    }

    h4 {
      text-align: center;
      margin: 10px auto 10px;
    }

    p {
      text-align: center;
    }
  }
  .slider33 .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
}

@media (max-width: 1092px) {
  .features {
    .row {
      .features_left {
        padding: 77px 0 0 45px;
      }
    }
  }
}

@media (max-width: 1140px) {
  .features {
    .row {
      .features_right {
        padding: 0 0 0 45px;

        .share_title2 {
          width: 100%;

          h2 {
            margin: 55px 0 24px 0;
          }

          p {
            padding: 10px;
          }
        }
      }
    }
  }

}

@media (max-width: 1045px) {
  .share {
    height: auto;

    .row {
      flex-direction: column-reverse;

      .share_left {
        margin: auto;
        padding: 0;

        img {
          margin: auto;
        }
      }

      .share_right {
        padding: 0;
        margin: 50px auto;

        .share_title {
          margin: auto;

          h2 {
            margin: 0 0 13px 0;
            text-align: center;
          }

          p {
            text-align: center;
          }
        }
      }
    }
  }
  .slider22 {
    margin: auto;
  }
  .slider22 .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features {
    height: auto;

    .row {
      flex-direction: column;


      .features_right {
        margin: auto;
        padding-left: 0;

        .share_title2 {
          h2 {
            text-align: center;
          }

          p {
            text-align: center;
          }
        }
      }

      .features_left {
        margin: auto;
        padding-left: 0;
      }
    }
  }
  .slider33 {
    margin: auto;
  }
}

@media (max-width: 1999px) {
  .gallery {
    .gallery__item {
      .gallery__item_photo {
        .photo_item {
          width: 100%;

          img {
            width: 100%;

          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .gallery {
    .gallery__item {
      .gallery__item_photo {
        .photo_item {
          width: 100%;
          height: auto;

          img {
            width: 100%;
            height: auto;
          }
        }

        .photo_item1:hover {
          .photo_block_down {
            bottom: 17px;
          }
        }
        .photo_item2:hover {
          .photo_block_down {
            bottom: 17px;
          }
        }
        .photo_item3:hover {
          .photo_block_down {
            bottom: 17px;
          }
        }
        .photo_item4:hover {
          .photo_block_down {
            bottom: 17px;
          }
        }
      }
    }
  }
}
    @media (max-width: 1440px) {
      .gallery {
        height: auto;

        .gallery__item {
          .gallery__item_photo {
            display: grid;
            grid-template-columns: auto auto;

          }
        }
      }
    }

    @media (max-width: 760px) {
      .gallery {
        height: auto;

        .gallery__item {
          .gallery__item_photo {
            display: grid;
            grid-template-columns:auto;
          }
        }
      }
    }

    @media (max-width: 994px) {
      .gallery {
        &__item {

          &_title {
            margin: 0 auto 58px;
            width: 100%;
            padding-top: 28px;

            h2 {
              text-align: center;
              padding: 0;
            }

            p {
              text-align: center;
              padding: 0 50px;
            }
          }
        }
      }
      .features {
        .row {
          .features_left {
            display: flex;

            img {
              margin: auto;
              padding: 0;
            }
          }
        }
      }
      .compatibility {
        height: auto;

        .compatibility_body {
          margin: 67px auto;
          width: 100%;

          .compatibility_title {
            border-bottom: 2px solid #cbcbcb;
            margin-bottom: -2px;

            h1 {
              text-align: center;
            }
          }

          .compatibility__items {
            display: flex;
            flex-direction: column;

            .compatibility_left {
              width: 50%;
              margin: auto;
              display: flex;
              flex-direction: column;

              h3 {
                text-align: center;
              }

              p {
                text-align: center;
              }

              img {
                padding: 0;
                margin: auto;
              }
            }

            .compatibility_right {
              width: 50%;
              margin: auto;
              padding: 0;
              display: flex;
              flex-direction: column;

              h3 {
                text-align: center;
              }

              p {
                text-align: center;
              }

              img {
                padding: 0;
                margin: auto;
              }
            }
          }
        }
      }

    }

    @media (max-width: 660px) {
      .compatibility {
        .compatibility_body {
          .compatibility__items {
            .compatibility_left {
              width: 100%;

              p {
                padding: 0 30px;
              }

              img {
                padding: 0;
                margin: auto;
              }
            }

            .compatibility_right {
              width: 100%;


              p {
                padding: 0 10px;
              }

              img {
                padding: 0;
                margin: auto;
              }
            }
          }
        }
      }
    }

    @media (max-width: 400px) {
      .compatibility {
        .compatibility_body {
          .compatibility__items {
            .compatibility_left {
              p {
                padding: 0;
              }
            }

            .compatibility_right {
              p {
                padding: 0;
              }

              img {
                display: none;
              }
            }
          }
        }
      }
    }

    @media (max-width: 347px) {
      .gallery {
        .gallery__item {
          .gallery__item_photo {
            .photo_block_down {
              p {
                margin: 29px 10px;
              }

              i {
                margin: auto;
              }
            }
          }
        }
      }
    }

    @media (max-width: 1180px) {
      .image-item {
        display: flex;
        flex-direction: column;
        margin: auto;

        .photo1 {
          margin: auto;
        }

        .photo2 {
          margin: auto;
        }

        .photo3 {
          margin: auto;
        }

        .text_about1 {
          padding: 0 20px;
          margin: 37px auto;
        }

        .text_about2 {
          padding: 0 20px;
          margin: 37px auto;
        }

        .text_about3 {
          padding: 0 20px;
          margin: 37px auto;
        }
      }
    }

    @media (max-width: 991px) {
      footer {
        height: auto;

        .footer_block {
          height: auto;

          .row {
            width: 100%;
            flex-direction: column-reverse;
            margin: auto;

            .footer_left {
              text-align: center;
              margin: 30px 0 0 0;
            }

            .footer_right {
              margin: 56px 0 8px 0;

              .search {
                margin: 0;
                display: flex;
                flex-direction: column;

                p {
                  text-align: center;
                }

                .form {
                  margin: auto;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 445px) {
      footer {
        .footer_block {
          .row {
            .footer_right {
              .search {
                .form {
                  display: flex;
                  flex-direction: column;

                  .form_input {
                    width: auto;
                  }

                  .search_input {
                    margin: 10px auto;
                  }
                }
              }
            }
          }
        }
      }
    }