.gallery {
  background-color: white;
  height: 822px;
  position: relative;
  z-index: 500;

  &__item {
    display: flex;
    flex-direction: column;

    &_title {
      margin: 0 auto 58px;
      width: 994px;
      padding-top: 28px;

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        line-height: 1.2;
        font-weight: 600;
        color: #f06464;
        padding-left: 9px;
        margin: 40px 0 20px 0;
      }

      p {
        font-family: 'Varela Round', sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: #666666;
        padding: 0 512px 0 13px;
      }
    }
  }

  &__item_photo {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;

    .photo_item1 {
      background-color: #151515;
      width: 464px;
      height: 519px;

      img {
        width: 464px;
        height: 519px;
      }
    }

    .photo_item2 {
      background-color: #151515;
      width: 519px;
      height: 519px;

      img {
        height: 519px;
        width: 519px;
      }
    }

    .photo_item3 {
      background-color: #151515;
      width: 519px;
      height: 519px;

      img {
        height: 519px;
        width: 519px;
      }
    }

    .photo_item4 {
      background-color: #151515;
      width: 498px;
      height: 519px;

      img {
        height: 519px;
        width: 498px;
      }
    }

    .photo_block_down {
      position: relative;
      bottom: 110px;
      display: none;

      p {
        font-family: 'Varela Round', sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: #c2c2c2;
      }

    }

    .photo_item1:hover {
      img {
        position: relative;
        height: 519px;
        bottom: 38px;
      }

      .photo_block_down {
        position: relative;
        bottom: 92px;
        height: 88px;
        background-color: #151515;
        width: 100%;
        display: flex;
        p {
          margin: 29px 37px;
        }

        i {
          margin: auto 68px auto auto;
        }
      }
    }

    .photo_item2:hover {
      img {
        position: relative;
        height: 519px;
        width: 519px;
        bottom: 38px;
      }

      .photo_block_down {
        position: relative;
        bottom: 92px;
        height: 88px;
        background-color: #151515;
        width: 100%;
        display: flex;
        p {
          margin: 29px 37px;
        }

        i {
          margin: auto 68px auto auto;
        }
      }
    }

    .photo_item3:hover {
      img {
        position: relative;
        height: 519px;
        width: 519px;
        bottom: 38px;
      }

      .photo_block_down {
        position: relative;
        bottom: 92px;
        height: 88px;
        background-color: #151515;
        width: 100%;
        display: flex;
        p {
          margin: 29px 37px;
        }

        i {
          margin: auto 68px auto auto;
        }
      }
    }

    .photo_item4:hover {
      img {
        position: relative;
        height: 519px;
        width: 498px;
        bottom: 38px;
      }

      .photo_block_down {
        position: relative;
        bottom: 92px;
        height: 88px;
        background-color: #151515;
        width: 100%;
        display: flex;
        p {
          margin: 29px 37px;
        }

        i {
          margin: auto 68px auto auto;
        }
      }
    }
  }
}

.gallery__item_photo {
  display: flex;
  flex-direction: row;
}

/*for like*/
.fa {
  color: #f06464;
}

.anotherColor {
  color: red;
}

/*for like end*/