.share {
  background-color: #262626;
  height: 429px;
  display: flex;

  .row {
    display: flex;
    flex-direction: row;
    width: 676px;
    margin: auto;

    .share_title {
      width: 295px;

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 27px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        margin: 108px 0 13px 0;
      }

      p {
        font-family: 'Varela Round', sans-serif;
        font-size: 11px;
        line-height: 15px;
        font-weight: 400;
        color: #aeaeae;
        padding-right: 20px;
        margin-bottom: 19px;
      }
    }
  }
}

.share_right {

  padding-left: 63px;
}

.share_left {
  display: flex;

  img {
    margin-top: 42px;
  }
}

/*slider*/
.slider22 {
  width: 295px;
}

.slider__item_2 {
  display: flex;
  flex-direction: row;

  img {
    margin: auto;
  }

  p {
    font-family: 'Varela Round', sans-serif;
    font-size: 9px;
    line-height: 15px;
    font-weight: 400;
    color: #aeaeae;
    padding: 0 35px 0 19px;
  }
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider22 .slick-dots {
  display: flex;
  padding: 0;
  margin-top: 5px;
}

.slider22 .slick-dots li {
  list-style: none;
  margin: 0 2px;
}

.slider22 .slick-dots button {
  font-size: 0;
  width: 7px;
  height: 7px;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 0;
}

.slider22 .slick-dots li.slick-active button {
  background-color: #ffffff;
  border: 2px solid #fff;
}

/*slider end*/




