@import "variables";
.share {
  background-color: $dark4;
  height: 734px;
  display: flex;

  .row {
    display: flex;
    flex-direction: row;
    width: 1170px;
    margin: auto;

    .share_title {
      width: 450px;

      h2 {
        font-family: $first;
        font-size: 48px;
        line-height: 1.2;
        font-weight: 500;
        color: $white;
        margin: 183px 0 19px 0;
        padding-left: 8px;
        letter-spacing: -0.3px;
      }

      p {
        font-family: $second;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: $lightgrey2;
        padding: 0 11px 22px 9px;
        margin-bottom: 10px;
      }
    }
  }
}

.share_right {
  padding-left: 6px;
}

.share_left {
  display: flex;

  img {
    margin-top: 72px;
    margin-left: -6px;
  }
}

/*slider*/
.slider22 {
  width: 451px;
}

.slider__item_2 {
  display: flex;
  flex-direction: row;

  img {
    margin: 20px auto auto 10px;
  }

  p {
    font-family: $second;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $lightgrey2;
    padding: 15px 8px 0 30px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider22 .slick-dots {
  display: flex;
  padding-left: 9px;
  margin-top: 19px;

}

.slider22 .slick-dots li {
  list-style: none;
  margin: 0 8px 0 0;
}

.slider22 .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: $dark1;
  border-radius: 50%;
  border: 1px solid $white;
  padding: 1px 0;
}

.slider22 .slick-dots li.slick-active button {
  background-color: $white;
  border: 2px solid #fff;
}
/*slider end*/




