$dark1:  rgb(0, 0, 0, 0);
$dark2: rgba(0, 0, 0, 0.24);
$dark4:#262626;
$white: #ffffff;
$anotherwhite:#f4f4f4;
$lightgrey3:#e7e7e7;
$almostpink: #f06464;
$almostpink2: #de5d5d;
$grey:#a3a3a3;
$darkgrey2:#3a3a3a;
$lightgrey2:#aeaeae;
$darkgrey:#666666;
$black:#151515;
$lightgrey:#cbcbcb;
$dark3:#313131;

$first: 'Montserrat', sans-serif;
$second:'Varela Round', sans-serif;